# Configuration for the jellyfin-find-duplicates script.
# https://github.com/tremby/jellyfin-find-duplicates
#
# This is a regular bash script.
#
# If saved to $XDG_CONFIG_HOME/jellyfin-find-duplicates.conf
# it's included at the start of the script via bash's "." (source) command.

# Required variables
# ------------------

# Any of these variables can be commented out,
# or the file doesn't need to exist at all,
# if they will be provided by other means.

# Jellyfin URL scheme and hostname (no trailing slash)
JELLYFIN_HOST=https://jellyfin.local

# Jellyfin API token (Jellyfin -> dashboard -> advanced -> API keys)
JELLYFIN_TOKEN=0123456789abcdef0123456789abcdef

# Jellyfin user name
JELLYFIN_USER=myjellyfinusername

# TV shows library name
JELLYFIN_SHOWS_LIB_NAME=Shows

# Optional variables
# ------------------

# Any of these variables can be commented out or blank if unneeded.

# File paths to ignore, separated by double colons
IGNORED_PATHS="/media/shows/Great Show/Great Show S01/Great Show S01E01 (original pilot).mkv"::"/media/shows/Other/Other S02/Other S02E14 (censored version).mkv"
